html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body

		div.container
			br 
			form(action='' method='POST')
				.form-group
					//- label(for='post_title') Student_id
					//- input#post_title.form-control(type='text' name='student_id' placeholder='student_id' required='' value=student.student_id)
					//- label(for='post_content') Name
					//- input#post_content.form-control(type='text' name='name' placeholder='Name' required='' value=student.name)
					//- label(for='author_name') Year
					//- input#author_name.form-control(type='number' name='year' placeholder='Year' required='' value=student.year)
					//- label(for='author_name') Email
					//- input#author_name.form-control(type='text' name='email' placeholder='Email' required='' value=student.email)
					label(for='post_title') Student_id
					input#post_title.form-control(type='text' name='student_id' placeholder='student_id' required='')
					label(for='post_content') course_id
					input#post_content.form-control(type='text' name='cid' placeholder='course_id' required='')
					label(for='author_name') section_id
					input#author_name.form-control(type='text' name='section_id' placeholder='section_id' required='')
					label(for='author_name') semester
					input#author_name.form-control(type='text' name='semester' placeholder='semester' required='')
					label(for='author_name') year
					input#author_name.form-control(type='number' name='year' placeholder='year' required='')
					label(for='author_name') grade
					input#author_name.form-control(type='text' name='grade' placeholder='grade' required='')
					br
					input.btn.btn-success(type='submit' value='UPDATE')

					a.m-3.btn.btn-info(href='/') Back


